@font-face {
  font-family: 'Gerbera';
  src: url('../../frontend/public/Fonts/Gerbera-Regular.otf');
}
* {
  font-family: 'Gerbera', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
